<ion-tabs>
  <ion-tab-bar slot="top" class="container" [ngStyle]="{'--background': 'var(--ion-color-white)', '--color' : 'var(--ion-color-white)'}">
    <div class="todo__title-wrap">
      <div class="todo__title-info">
        <div class="year-month" (click)="openCalendar()"> {{ selectYear }}.{{ selectMonth }}</div>
        <div class="shortcut-btn-wrap">
          <button class="btn-shortcut-setting">
            <img src="/assets/image/button/btn-setting.png" alt="setting"  (click)="moveToSettings()">
          </button>
        </div>
      </div>

      <ion-grid>
        <ion-row class="todo__content__week-day">
          {{ temp + selected }}
          <ion-col *ngFor="let day of weekday" [ngStyle]="{'text-align': 'center'}"> {{day}} </ion-col>
        </ion-row>
        <ion-row class="todo__content__week-date">
          <ion-slides class="slides" [options]="weekSlideOption" (ionSlideReachEnd)="endSlide()" (ionSlideReachStart)="firstSlide()">
            <ion-slide *ngFor="let week of weekDateForSlide">
              <ion-col class="view-slide" *ngFor="let day of week" [ngStyle]="{'text-align': 'center'}">
                <div class="select" *ngIf="day == selectDate"> {{ day }}  </div>
                <div *ngIf="day !== selectDate" (click)="changeDay(day)"> {{ day }}  </div>
              </ion-col>
            </ion-slide>
          </ion-slides>
        </ion-row>
      </ion-grid>

      <div class="menu-name" >{{ currentTab }}</div>
      <div class="btn-wrap" >
        <button *ngIf="currentTab !== 'todo'" class="btn-prev-tab" (click)="clickPrevTab()" >
          <img src="/assets/button/prev-tab.png">
        </button>
        <div class="space"> </div>
        <button *ngIf="currentTab !== 'memo'" class="btn-next-tab" (click)="clickNextTab()">
          <img src="/assets/button/next-tab.png">
        </button>
      </div>
    </div>
  </ion-tab-bar>
<!-- <app-calendar-tab [selected]="selected"></app-calendar-tab> -->
</ion-tabs>
<!-- <app-child [selected]="selected"></app-child> -->