.container {
    display: flex;
    flex-wrap: nowrap;
    height: 100px;
    margin-top: 50px;
    [col-1] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 14.285714285714286%;
        width: 14.285714285714286%;
        max-width: 14.285714285714286%;
      }
    .todo__title-wrap {
        position: relative;
        width: 100%;
        .todo__title-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 6%;
            margin-bottom: 6%;
            .year-month {
                width: 180px;
                height: 6%;
                background-color: var(--ion-color-primary);
                text-align: center;
                font-size: 36px;
                font-family: var(--ion-font-munzii);
                color: var(--ion-color-black);
            }
            .shortcut-btn-wrap {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 40%;
                height: 50px;
                .btn-shortcut-setting {
                    img {
                        width: auto;
                        height: 40px;
                    }
                }
            }
        }
        .menu-name {
            width: 100%;
            text-align: center;
            font-size: 24px;
            font-family: var(--ion-font-munzii);
            color: var(--ion-color-title);
        }
        .btn-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 0px;
            width: 100%;
            .btn-prev-tab {
                width: 35px;
                img {
                    width: 35px;
                    height: auto;
                }
            }
            .space {
                width: 35px;
            }
            .btn-next-tab {
                width: 35px;
                img {
                    width: 35px;
                    height: auto;
                }
            }
        }
    }
    .todo__content__week-date {
        .slides {
            ion-slide {
                .view-slide {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 40px;
                    font-size: 15px;
                    font-family: var(--ion-font-munzii);
                    color: var(--ion-color-light-gray);
                    .select {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: var(--ion-color-primary);
                    }
                }
            }
        }
        ion-col {
        }
    }
}