button {
    background-color: black;
}
ion-content {
    --background: var(--ion-theme-background);
}
.container {
    display: flex;
    height: 100%;
    text-align: center;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
    .logo {
        font-family: var(--ion-font-munzii);
        font-size: 65px;
        margin-top: 15%;
        color: #343229;
    }
    .form-login {
        width: 70%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;

        .form-id {
            display: flex;
            align-content: space-between;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;
            margin-bottom: 8px;

            #username {
                width: 55%;
                height: 40px;
                background-color: var(--ion-color-white);
                border-radius: 6px;
                border: var(--ion-color-white);
                font-family: var(--ion-font-korean-gothic);
                padding-left: 10px;
            }
            button {
                margin: 0px;
                width: 40%;
                height: 40px;
                border-radius: 6px;
                font-family: var(--ion-font-korean-gothic);
                background-color: var(--ion-color-button);
                color: #343229;
                font-size: 16px;
            }
        }
        #checkIdText {
            width: 100%;
            text-align: left;
            color: #db1414;
            font-size: 13px;
            visibility: hidden;
        }
        .form-password {
            input {
                width: 100%;
                height: 40px;
                margin: 8px 0;
                background-color: var(--ion-color-white);
                border-radius: 6px;
                border: var(--ion-color-white);
                font-family: var(--ion-font-korean-gothic);
                padding-left: 10px;
            }
            #beforeJoin {
                width: 100%;
                text-align: left;
                color: #db1414;
                font-size: 13px;
            }
            #comparePassword {
                width: 100%;
                margin: 0px;
                text-align: left;
                color: #db1414;
                font-size: 13px;
            }
            p {
                margin: 0px;
                font-size: 13px;
                color: #db1414;
            }
        }
    }
    button {
        margin-top: 20px;
        width: 100%;
        height: 40px;
        border-radius: 6px;
        font-family: var(--ion-font-korean-gothic);
        background-color: var(--ion-color-button);
        color: #343229;
        font-size: 16px;
    }

    a {
        margin: 10px 0px 0px 0px;
        width: 40%;
        height: 20px;
        font-family: var(--ion-font-korean-gothic);
        background-color: transparent;
        color: #343229;
        font-size: 15px;
        text-decoration: underline;
    }

    .footer {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 100%;
        //position: fixed;
        margin-bottom: 15%;
        //text-align: center;
        img {
            width: 75px;
            height: 75px;
        }
    }
    input:focus {
        outline: none !important;
        border-color: #c4c4c4;
        box-shadow: 0 0 5px #c4c4c4;
    }
}
