.container {
    position: relative;
    height: 100%;
    padding: 10% 0;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 15px 5px 15px;
        padding: 8%;
        border-bottom: 1px solid #dddddd;
        font-size: 38px;
        font-family: var(--ion-font-munzii);
        button {
            position: absolute;
            width: 10%;
            height: auto;
            left: 0;
            outline: none;
        }
    }
    .list {
        height: 70%;
        overflow-y: auto;
        margin: 0 15px;
        color: #000;
        font-size: 25px;
        font-family: var(--ion-font-family);
        .item, #password-setting-selector {
            display: flex;
            align-items: center;
            height: 13%;
            padding: 0 15px;
        }
        .item:hover {
            background: #f9f9f9;
        }
        #password-setting-selector{
            justify-content: space-between;
            .switch {
                display: flex;
                justify-content: space-between;
                width: 85px;
                font-family: var(--ion-font-munzii);
                font-size: 24px;
                color: #c4c4c4;
                .selected{
                    color:var(--ion-color-primary)
                }
            }
        }

    }

    .footer {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        margin-bottom: 13%;
        text-align: center;
        bottom: 0;
        img {
            width: 17%;
            height: 17%;
        }
    }
}
