<ion-content>
  <div class="container" [style.height.px]="windowHeight">
    <div class="header">
      <button (click)="prev()">
        <img src="/assets/button/prev.png" alt="">
      </button>
      Password
    </div>
    <div class="list">
      <div id="password-setting-selector">
        암호 설정
        <div class="switch">
          <div [ngClass]="{'selected': isOn}" (click)="toggleOnPassword()">on</div>|
          <div [ngClass]="{'selected': isOff}" (click)="toggleOffPassword()">off</div>
        </div>
      </div>
      <div class="item" (click)="moveToPasswordInput()">암호 변경</div>
    </div>
    <div class="footer">
      <img src="/assets/image/basic/basic_2.png" alt="">
      <img src="/assets/image/basic/basic_1.png" alt="">
      <img src="/assets/image/basic/basic_4.png" alt="">
    </div>
  </div>
</ion-content>