<ion-content forceOverscroll=false class="container">
  <!-- <div class="overlay" (click)="dismiss()"></div> -->
  <div class="modal-content-wrap">
    <div class="input-title-wrap ion-no-padding">
      <div class="label-input">title</div>
      <ion-input class="input" placeholder="일정을 입력하세요" [(ngModel)]="title" type="text"></ion-input>
    </div>
    <div class="input-time-wrap ion-no-padding">
      <div class="toggle-wrap">
        <ion-label class="label-input">time</ion-label>
        <ion-toggle class="time-toggle" [checked]="isTimeline === 1" (ionChange)="timeActive()"></ion-toggle>
      </div>
      <div class="input-time-picker-wrap ion-no-padding">
        <div class="input-time-picker">
        <ion-label  [ngClass]="{'label-picker': isTimeline===1, 'disable-label-picker': isTimeline===0}">시작 시간</ion-label>
        <ion-datetime 
          class=" ion-no-padding time-picker"
          [disabled] = "isTimeline == 0"
          placeholder = "00:00"
          displayFormat="HH:mm"
          [(ngModel)]="startTime"
          (ionChange) = "calculateStartTime()"
        ></ion-datetime>
        </div>
        <div class="input-time-picker">
        <ion-label [ngClass]="{'label-picker': isTimeline===1, 'disable-label-picker': isTimeline===0}">종료 시간</ion-label>
        <ion-datetime
          class=" ion-no-padding time-picker"
          [disabled] = "isTimeline == 0"
          placeholder = "00:00"
          displayFormat="HH:mm"
          [(ngModel)]="endTime"
          (ionChange) = "calculateEndTime()"
        ></ion-datetime>
        </div>
      </div>
      
    </div>
    <button ion-button class="btn-done" (click)="createTodo()">done</button>
  </div>

</ion-content>