<ion-content forceOverscroll=false>
  <div class="container" [style.height.px]="windowHeight">
    <ion-content forceOverscroll=false class="calendar">
      <div class="calendar__title-wrap">
        <ion-row class="calendar__title">
          <ion-col width-50> 
            <ion-datetime class="year-month"
            placeholder=" "  
            displayFormat="YYYY.MM"
            pickerFormat="YYYY.MM.DD"
            min="1900-01"
            max="2200-12"
            [(ngModel)]="currentCalendar"
            (ionChange)="selectMonth($event)"></ion-datetime>
          </ion-col>
          <ion-col class="btn-wrap">
            <button class="btn-shortcut-setting" (click)="moveToSettings()">
              <img src="/assets/image/button/btn-setting.png" alt="setting">
            </button>
          </ion-col>
        </ion-row>
      </div>
      <div class="calendar__content-wrap">
        <ion-grid>
          <ion-row class="calendar__content__week">
            <ion-col *ngFor="let day of weekday"> {{ day }} </ion-col>
          </ion-row>
          <ion-row class="calendar__content__date">
            <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month"> </ion-col>
            <ion-col col-1 *ngFor="let day of daysInThisMonth" class="this-month">
              <div class="today" *ngIf="day === currentDate" (click)="openTodo(day)"> 
                <div class="day"> {{ day }} </div>
                <div class="day-munzzi">
                  <div *ngIf="themeId == 1">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == 100" src="/assets/image/basic/basic_today_1.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] > 50 && dayProgress[daysInThisMonth.indexOf(day)] < 100" src="/assets/image/basic/basic_today_2.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] > 0 && dayProgress[daysInThisMonth.indexOf(day)] <= 50" src="/assets/image/basic/basic_today_3.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == 0" src="/assets/image/basic/basic_today_4.png">
                  </div>
                  <div *ngIf="themeId == 2">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == 100" src="/assets/image/pink/pink_today_1.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] > 50 && dayProgress[daysInThisMonth.indexOf(day)] < 100" src="/assets/image/pink/pink_today_2.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] > 0 && dayProgress[daysInThisMonth.indexOf(day)] <= 50" src="/assets/image/pink/pink_today_3.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == 0" src="/assets/image/pink/pink_today_4.png">
                  </div>
                  <div *ngIf="themeId == 3">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == 100" src="/assets/image/blue/blue_today_1.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] > 50 && dayProgress[daysInThisMonth.indexOf(day)] < 100" src="/assets/image/blue/blue_today_2.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] > 0 && dayProgress[daysInThisMonth.indexOf(day)] <= 50" src="/assets/image/blue/blue_today_3.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == 0" src="/assets/image/blue/blue_today_4.png">
                  </div>
                  <div *ngIf="themeId == 4">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == 100" src="/assets/image/green/green_today_1.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] > 50 && dayProgress[daysInThisMonth.indexOf(day)] < 100" src="/assets/image/green/green_today_2.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] > 0 && dayProgress[daysInThisMonth.indexOf(day)] <= 50" src="/assets/image/green/green_today_3.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == 0" src="/assets/image/green/green_today_4.png">
                  </div>
                </div> 
              </div>
              <div class="otherday" *ngIf="day !== currentDate" (click)="openTodo(day)"> 
                <div class="day"> {{ day }} </div>
                <div class="day-munzzi">
                  <div *ngIf="themeId == 1">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == -1" src="../../assets/image/Transparency.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == 100" src="/assets/image/basic/basic_1.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] > 50 && dayProgress[daysInThisMonth.indexOf(day)] < 100" src="/assets/image/basic/basic_2.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] > 0 && dayProgress[daysInThisMonth.indexOf(day)] <= 50" src="/assets/image/basic/basic_3.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == 0" src="/assets/image/basic/basic_4.png">
                  </div>
                  <div *ngIf="themeId == 2">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == -1" src="../../assets/image/Transparency.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == 100" src="/assets/image/pink/pink_1.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] > 50 && dayProgress[daysInThisMonth.indexOf(day)] < 100" src="/assets/image/pink/pink_2.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] > 0 && dayProgress[daysInThisMonth.indexOf(day)] <= 50" src="/assets/image/pink/pink_3.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == 0" src="/assets/image/pink/pink_4.png">
                  </div>
                  <div *ngIf="themeId == 3">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == -1" src="../../assets/image/Transparency.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == 100" src="/assets/image/blue/blue_1.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] > 50 && dayProgress[daysInThisMonth.indexOf(day)] < 100" src="/assets/image/blue/blue_2.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] > 0 && dayProgress[daysInThisMonth.indexOf(day)] <= 50" src="/assets/image/blue/blue_3.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == 0" src="/assets/image/blue/blue_4.png">
                  </div>
                  <div *ngIf="themeId == 4">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == -1" src="../../assets/image/Transparency.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == 100" src="/assets/image/green/green_1.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] > 50 && dayProgress[daysInThisMonth.indexOf(day)] < 100" src="/assets/image/green/green_2.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] > 0 && dayProgress[daysInThisMonth.indexOf(day)] <= 50" src="/assets/image/green/green_3.png">
                    <img *ngIf="dayProgress[daysInThisMonth.indexOf(day)] == 0" src="/assets/image/green/green_4.png">
                  </div>
                </div> 
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <!-- <ion-calendar class="calendar" [(ngModel)]="calendar"
        [options]="optionsRange"
        (onchange)="onchange($event)"
        type = "type"
        [format]="'YYYY-MM-DD'">
      </ion-calendar> -->
    </ion-content>
  </div>
</ion-content>
