<ion-content>
  <div class="container" [style.height.px]="windowHeight">
    <!-- <div class="calendar__title-wrap">
      <div id="month">2021.03</div>
      <button id="btn-shortcut-setting">
        <img src="/assets/image/button/btn-setting.png" alt="setting">
      </button>
    </div> -->
    <ion-content class="calendar">
      <div class="calendar__title-wrap">
        <ion-row class="calendar__title">
          <ion-col width-50> 
            <ion-datetime class="year-month"
            placeholder="Custom Options"  
            displayFormat="YYYY.MM"
            min="1900-01"
            max="2200-12"
            [(ngModel)]="currentCalendar"
            (ionChange)="selectMonth($event)"></ion-datetime>
          </ion-col>
          <ion-col class="btn-wrap">
            <button class="btn-shortcut-setting">
              <img src="/assets/image/button/btn-setting.png" alt="setting">
            </button>
          </ion-col>
        </ion-row>
      </div>
      <div class="calendar__content-wrap">
        <ion-grid>
          <ion-row class="calendar__content__week">
            <ion-col> 일 </ion-col>
            <ion-col> 월 </ion-col>
            <ion-col> 화 </ion-col>
            <ion-col> 수 </ion-col>
            <ion-col> 목 </ion-col>
            <ion-col> 금 </ion-col>
            <ion-col> 토 </ion-col>
          </ion-row>
          <ion-row class="calendar__content__date">
            <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month"> </ion-col>
            <ion-col col-1 *ngFor="let day of daysInThisMonth" class="this-month">
              <div class="today" *ngIf="day === currentDate" (click)="openTodo(day)"> 
                <div class="day"> {{ day }} </div>
                <div class="day-munzzi">
                  <img src="/assets/image/basic/basic_today_1.png">
                </div> 
              </div>
              <div class="otherday" *ngIf="day !== currentDate" (click)="openTodo(day)"> 
                <div class="day"> {{ day }} </div>
                <div class="day-munzzi">
                  <img src="/assets/image/basic/basic_2.png">
                </div> 
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <!-- <ion-calendar class="calendar" [(ngModel)]="calendar"
        [options]="optionsRange"
        (onchange)="onchange($event)"
        type = "type"
        [format]="'YYYY-MM-DD'">
      </ion-calendar> -->
    </ion-content>
  </div>
</ion-content>
