.container {
    position: relative;
    height: 100%;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 15px 25px 15px;
        padding: 25px;
        font-size: 38px;
        font-family: var(--ion-font-munzii);
        button {
            position: absolute;
            width: 25px;
            height: auto;
            left: 0;
            outline: none;
        }
    }
    .input-message{
        display: flex;
        justify-content: center;
        margin: 40px;
        font-size: 25px;
        font-family: var(--ion-font-family);
        color:#999999;
    }
    .password-list{
        display: flex;
        justify-content: center;
        padding: 10px;
        img{
            width: 60px;
            height: auto;
            margin: 5px;
        }
    }
    .keypad{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-family: var(--ion-font-munzii);
        font-size: 32px;
        ion-row{
            display: flex;
            justify-content: center;
            width: 240px;
        }
        ion-col{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
        }
        ion-col:hover{
            background: #f9f9f9;

        }
    }

   
}
