<ion-content>
  <div class="container" [style.height.px]="windowHeight">
    <div class="header">
      Password
    </div>
    <div class="input-message">
      {{input}}<br>
      {{msg}}
    </div>
    <div class="password-list">
      <div *ngFor="let pw of password">

        <img src="/assets/image/basic/basic_3.png" alt="" *ngIf=" pw != null">
        <img src="/assets/image/main/main_gray.png" alt="" *ngIf="pw == null">
      </div>
    </div>
    <div class="keypad-wrap">
      <div class="keypad" *ngFor="let key of keypad">
        <ion-row >
          <ion-col *ngFor="let k of key" (click)="enterPassword(k)">{{k}}</ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>