<ion-content forceOverscroll=false>
  <div class="container" [style.height.px]="windowHeight">
    <div class="header">
      <button (click)="prev()">
        <img src="/assets/button/prev.png" alt="">
      </button>
      Account
    </div>
    <div class="list">
      <div id="account-info">
        사용자 정보
      <div class="username">{{username}}</div>
      </div>
      <div class="item" (click)="logout()">로그아웃</div>
    </div>
    <div class="footer">
      <img src="/assets/image/basic/basic_2.png" alt="">
      <img src="/assets/image/basic/basic_1.png" alt="">
      <img src="/assets/image/basic/basic_4.png" alt="">
    </div>
  </div>
</ion-content>