<ion-content>
  <div class="container" [style.height.px]="windowHeight">
    <div class="header">
      <button>
        <img src="/assets/button/prev.png" alt="">
      </button>
      Theme
    </div>
    <div class="list-wrap">
      <div class="list" id="screen-settings">
        <span class="list-name">화면 설정</span>
          <div class="item" [routerLink]="['/theme']" routerLinkActive="router-link-active" >테마</div>
          <div class="item" [routerLink]="['/font']" routerLinkActive="router-link-active" >글꼴</div>
          <div class="item" [[routerLink]="['/start-day']" routerLinkActive="router-link-active" ]>주 시작 요일</div>
      </div>
      <div class="list" id="personal-settings">
        <span class="list-name">개인 설정</span>
          <div class="item" [routerLink]="['/password']" routerLinkActive="router-link-active" >암호</div>
          <div class="item" [routerLink]="['/accout']" routerLinkActive="router-link-active" >계정</div>
      </div>
      <div class="list" id="version-info">
        <span class="list-name">버전 정보</span>
          <div class="item">
            버전
            <div id="version">1.0</div>
          </div>
      </div>
    </div>
    <div class="footer">
      <img src="/assets/image/basic/basic_2.png" alt="">
      <img src="/assets/image/basic/basic_1.png" alt="">
      <img src="/assets/image/basic/basic_4.png" alt="">
    </div>
  </div>
</ion-content>