<ion-content>
  <div class="container" [style.height.px]="windowHeight">
    <div class="header">
      <button (click) = "prev()">
        <img src="/assets/button/prev.png" alt="">
      </button>
      Font
    </div>
    <div class="list" *ngFor="let data of fontList">
      <div class="item selected {{data[0]}}" (click)="updateFont()">{{data[1]}}
        <img src="/assets/image/basic/basic_4.png" (click)="updateFont()" alt="">
      </div>
      
      </div>
     <!-- <div class="list">
    <div class="item selected">
        기본체
        *ngIf="data == selectFont" 
        <img src="/assets/image/basic/basic_4.png" (click)="updateFont()"  alt="">
      </div>
      <div class="item"  id="prettynight">고운밤체</div>
      <div class="item" id="dohyeon">배달의민족도현체</div>
      <div class="item" id="poorstory">PoorStory체</div>
      <div class="item" id="nexonfootball">넥슨풋볼체</div>
    </div>-->
    <div class="footer">
      <img src="/assets/image/basic/basic_2.png" alt="">
      <img src="/assets/image/basic/basic_1.png" alt="">
      <img src="/assets/image/basic/basic_4.png" alt="">
    </div>
  </div>
</ion-content>