ion-content {

}
ion-content > ion-list {
    position: relative;
    top:30%;
}
.btn-center-align {
    text-align: center !important;
}
.btn-center-align ion-button {
    --color: white
}
ion-item {
    --background: white;
    color: blue($color: #000000);
    --min-height: 40%;
}
ion-list {
    background-color: white;
}
:host {
    --min-height: 39px
}