<ion-content>
  <div class="container" [style.height.px]="windowHeight">
    <div class="logo">MUNZII?</div>
    <div class="form">
      <div class="form-login">
        <div class="input-login">
          <input type="text" id="username" [(ngModel)]="username" name="username" placeholder="id">
          <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="password">
        </div>
        <button type="submit" (click)="login()">Login</button>
      </div>
      <div id="checkLogin"> </div>
      <a routerLink="/join">회원가입</a>
    </div>

    <div class="footer">
      <img src="/assets/image/basic/basic_2.png" alt="">
      <img src="/assets/image/basic/basic_1.png" alt="">
      <img src="/assets/image/basic/basic_4.png" alt="">
    </div>
  </div>
</ion-content>