<ion-content>
  <div class="container" [style.height.px]="windowHeight">
    <div class="header">
      <button (click) = "prev()">
        <img src="/assets/button/prev.png" alt="">
      </button>
      Password
    </div>
    <div class="input-message">
      {{input}}
    </div>
    <div class="password-list">
      <div *ngFor="let pw of password">

        <img src="/assets/image/basic/basic_3.png" alt="" *ngIf=" pw != null">
        <img src="/assets/image/main/main_gray.png" alt="" *ngIf="pw == null">  
      </div>
    </div>
    <div class="keypad">
      <ion-row>
        <ion-col id="1">1</ion-col>
        <ion-col id="2">2</ion-col>
        <ion-col id="3">3</ion-col>
      </ion-row>
      <ion-row>
        <ion-col id="4">4</ion-col>
        <ion-col id="5">5</ion-col>
        <ion-col id="6">6</ion-col>
      </ion-row>
      <ion-row>
        <ion-col id="7">7</ion-col>
        <ion-col id="8">8</ion-col>
        <ion-col id="9">9</ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col id="0">0</ion-col>
        <ion-col id="del"><</ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>