<ion-content forceOverscroll=false>
  <div class="container" [style.height.px]="windowHeight">
    <div class="header">
      <button (click)="prev()">
        <img src="/assets/button/prev.png" alt="">
      </button>
      Password
    </div>
    <div class="input-message">
      {{input}}<br>
      {{msg}}
    </div>
    <div class="password-list">
      <div *ngFor="let pw of password">
        <img src="/assets/image/basic/basic_3.png" alt="" *ngIf=" pw != null && themeId==1">
        <img src="/assets/image/pink/pink_3.png" alt="" *ngIf=" pw != null && themeId==2">
        <img src="/assets/image/blue/blue_3.png" alt="" *ngIf=" pw != null && themeId==3">
        <img src="/assets/image/green/green_3.png" alt="" *ngIf=" pw != null && themeId==4">
        <img src="/assets/image/main/main_gray.png" alt="" *ngIf="pw == null">
      </div>
    </div>
    <div class="keypad-wrap">
      <div class="keypad" *ngFor="let key of keypad">
        <ion-row >
          <ion-col *ngFor="let k of key" (click)="setPassword(k)">{{k}}</ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>