<ion-content forceOverscroll=false>
  <div class="container" [style.height.px]="windowHeight">
    <div class="header">
      <button (click)="prev()">
        <img src="/assets/button/prev.png" alt="">
      </button>
      Theme
    </div>
    <div class="list-wrap">
      <div class="list" *ngFor="let data of themeList">
        <div class="item" id="{{data[0]}}" (click)="select(data[0])">{{data[1]}}
          <img src="/assets/image/basic/basic_4.png" alt="">
        </div>
      </div>
    </div>
    <div class="footer">
      <img src="/assets/image/basic/basic_2.png" alt="">
      <img src="/assets/image/basic/basic_1.png" alt="">
      <img src="/assets/image/basic/basic_4.png" alt="">
    </div>
  </div>
</ion-content> 