// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
// :root {
//   /** primary **/
//   --ion-color-primary: #3880ff;
//   --ion-color-primary-rgb: 56, 128, 255;
//   --ion-color-primary-contrast: #ffffff;
//   --ion-color-primary-contrast-rgb: 255, 255, 255;
//   --ion-color-primary-shade: #3171e0;
//   --ion-color-primary-tint: #4c8dff;

//   /** secondary **/
//   --ion-color-secondary: #3dc2ff;
//   --ion-color-secondary-rgb: 61, 194, 255;
//   --ion-color-secondary-contrast: #ffffff;
//   --ion-color-secondary-contrast-rgb: 255, 255, 255;
//   --ion-color-secondary-shade: #36abe0;
//   --ion-color-secondary-tint: #50c8ff;

//   /** tertiary **/
//   --ion-color-tertiary: #5260ff;
//   --ion-color-tertiary-rgb: 82, 96, 255;
//   --ion-color-tertiary-contrast: #ffffff;
//   --ion-color-tertiary-contrast-rgb: 255, 255, 255;
//   --ion-color-tertiary-shade: #4854e0;
//   --ion-color-tertiary-tint: #6370ff;

//   /** success **/
//   --ion-color-success: #2dd36f;
//   --ion-color-success-rgb: 45, 211, 111;
//   --ion-color-success-contrast: #ffffff;
//   --ion-color-success-contrast-rgb: 255, 255, 255;
//   --ion-color-success-shade: #28ba62;
//   --ion-color-success-tint: #42d77d;

//   /** warning **/
//   --ion-color-warning: #ffc409;
//   --ion-color-warning-rgb: 255, 196, 9;
//   --ion-color-warning-contrast: #000000;
//   --ion-color-warning-contrast-rgb: 0, 0, 0;
//   --ion-color-warning-shade: #e0ac08;
//   --ion-color-warning-tint: #ffca22;

//   /** danger **/
//   --ion-color-danger: #eb445a;
//   --ion-color-danger-rgb: 235, 68, 90;
//   --ion-color-danger-contrast: #ffffff;
//   --ion-color-danger-contrast-rgb: 255, 255, 255;
//   --ion-color-danger-shade: #cf3c4f;
//   --ion-color-danger-tint: #ed576b;

//   /** dark **/
//   --ion-color-dark: #222428;
//   --ion-color-dark-rgb: 34, 36, 40;
//   --ion-color-dark-contrast: #ffffff;
//   --ion-color-dark-contrast-rgb: 255, 255, 255;
//   --ion-color-dark-shade: #1e2023;
//   --ion-color-dark-tint: #383a3e;

//   /** medium **/
//   --ion-color-medium: #92949c;
//   --ion-color-medium-rgb: 146, 148, 156;
//   --ion-color-medium-contrast: #ffffff;
//   --ion-color-medium-contrast-rgb: 255, 255, 255;
//   --ion-color-medium-shade: #808289;
//   --ion-color-medium-tint: #9d9fa6;

//   /** light **/
//   --ion-color-light: #f4f5f8;
//   --ion-color-light-rgb: 244, 245, 248;
//   --ion-color-light-contrast: #000000;
//   --ion-color-light-contrast-rgb: 0, 0, 0;
//   --ion-color-light-shade: #d7d8da;
//   --ion-color-light-tint: #f5f6f9;
// }

// @media (prefers-color-scheme: dark) {
  body {
    --ion-font-munzii: 'Margarine';
    --ion-font-family: 'NexonGothic';
    --ion-font-korean-gothic: 'NexonGothic';
    --ion-font-korean-prettynight: 'PrettyNight';
    --ion-font-korean-nexonfootball: 'NexonFootball';
    --ion-font-korean-poorstory: 'PoorStory';
    --ion-font-korean-dohyeon: 'DoHyeon';
    --ion-color-title: #564747;
    --ion-color-button: #fcecb6;
    --ion-color-black: #000;
    --ion-color-light-black: #1b1d1e;
    --ion-color-gray: #999999;
    --ion-color-light-gray: #c4c4c4;
    --ion-color-very-light-gray: #d6d6d6;
    --ion-color-white: #ffffff;

    //총 테마
    --ion-color-primary: #fff3a9; // 핑 DD8B8B 파 9DBBD8 초 A1CB8D
    // 타임라인, 투두 수정 버튼
    --ion-color-dark-yellow: #ffee85; 
    //timeline
    --ion-color-complete: #fde2e2; // 초 B3D9A1
    --ion-color-check: #97c1e87e; // 초 E3F1DC
    //로그인 시 뒷 배경
    --ion-theme-background: #fcecb6;  // 핑 FFD6D6 / 파 DBE8F3 / 초 CEEDC0
    // +++ 로그인 버튼
    --ion-color-button: #f9d667; // 핑 F1B0B0 파 ACCBE5 초 90D371
    
    .ion-page {
      background: var(--ion-color-white);
    }
    // --ion-color-primary-rgb: 66,140,255;
    // --ion-color-primary-contrast: #ffffff;
    // --ion-color-primary-contrast-rgb: 255,255,255;
    // --ion-color-primary-shade: #3a7be0;
    // --ion-color-primary-tint: #5598ff;

    // --ion-color-secondary: #50c8ff;
    // --ion-color-secondary-rgb: 80,200,255;
    // --ion-color-secondary-contrast: #ffffff;
    // --ion-color-secondary-contrast-rgb: 255,255,255;
    // --ion-color-secondary-shade: #46b0e0;
    // --ion-color-secondary-tint: #62ceff;

    // --ion-color-tertiary: #6a64ff;
    // --ion-color-tertiary-rgb: 106,100,255;
    // --ion-color-tertiary-contrast: #ffffff;
    // --ion-color-tertiary-contrast-rgb: 255,255,255;
    // --ion-color-tertiary-shade: #5d58e0;
    // --ion-color-tertiary-tint: #7974ff;

    // --ion-color-success: #2fdf75;
    // --ion-color-success-rgb: 47,223,117;
    // --ion-color-success-contrast: #000000;
    // --ion-color-success-contrast-rgb: 0,0,0;
    // --ion-color-success-shade: #29c467;
    // --ion-color-success-tint: #44e283;

    // --ion-color-warning: #ffd534;
    // --ion-color-warning-rgb: 255,213,52;
    // --ion-color-warning-contrast: #000000;
    // --ion-color-warning-contrast-rgb: 0,0,0;
    // --ion-color-warning-shade: #e0bb2e;
    // --ion-color-warning-tint: #ffd948;

    // --ion-color-danger: #ff4961;
    // --ion-color-danger-rgb: 255,73,97;
    // --ion-color-danger-contrast: #ffffff;
    // --ion-color-danger-contrast-rgb: 255,255,255;
    // --ion-color-danger-shade: #e04055;
    // --ion-color-danger-tint: #ff5b71;

    // --ion-color-dark: #f4f5f8;
    // --ion-color-dark-rgb: 244,245,248;
    // --ion-color-dark-contrast: #000000;
    // --ion-color-dark-contrast-rgb: 0,0,0;
    // --ion-color-dark-shade: #d7d8da;
    // --ion-color-dark-tint: #f5f6f9;

    // --ion-color-medium: #989aa2;
    // --ion-color-medium-rgb: 152,154,162;
    // --ion-color-medium-contrast: #000000;
    // --ion-color-medium-contrast-rgb: 0,0,0;
    // --ion-color-medium-shade: #86888f;
    // --ion-color-medium-tint: #a2a4ab;

    // --ion-color-light: #222428;
    // --ion-color-light-rgb: 34,36,40;
    // --ion-color-light-contrast: #ffffff;
    // --ion-color-light-contrast-rgb: 255,255,255;
    // --ion-color-light-shade: #1e2023;
    // --ion-color-light-tint: #383a3e;
  // }

  .ios body {
    --ion-background-color: var(--ion-color-white);
    --ion-background-color-rgb: 0,0,0;
    --ion-text-color: var(--ion-color-black);
    --ion-text-color-rgb: 255,255,255;
    --ion-item-background: var(--ion-color-white);
    --ion-card-background: var(--ion-color-white);
  }
  .ios ion-modal {
    --ion-background-color: var(--ion-white-color);
    --ion-toolbar-background: var(--ion-white-color);
    --ion-toolbar-border-color: var(--ion-white-color);
  }

  .md body {
    --ion-background-color: var(--ion-color-white);
    --ion-background-color-rgb: 0,0,0;
    --ion-text-color: var(--ion-color-black);
    --ion-text-color-rgb: 255,255,255;
    --ion-item-background: var(--ion-color-white);
    --ion-card-background: var(--ion-color-white);
  }
  .md ion-modal {
    --ion-background-color: var(--ion-white-color);
    --ion-toolbar-background: var(--ion-white-color);
    --ion-toolbar-border-color: var(--ion-white-color);
  }
}

.container{
  width: 90%;
  margin: auto;
  padding-top: 15%;
  padding-bottom: 15%;
  overflow: hidden;
}


button{
  background: transparent;
  outline: none;
}

input{
  background: transparent;
  
}

.modal-wrapper, .inner-scroll {
  background: transparent !important;
}

.modal-custom {
  padding: 90px 5% 0 5%;
  background: rgba(255, 255, 255, 0); 
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.sc-ion-modal-md-h {
  --background: none;
  --border-radius: 10px;
  --height: 350px;
}
.sc-ion-modal-ios-h {
  --background: none;
  --border-radius: 10px;
  --height: 350px;
}