<ion-content>
  <div class="container" [style.height.px]="windowHeight">
    <div class="header">
      <button (click) = "prev()">
        <img src="/assets/button/prev.png" alt="">
      </button>
      Start day
    </div>
    <div class="list">
        <div class="item selected">
          <div>월요일</div>
          <img src="/assets/image/basic/basic_4.png" alt="">
        </div>
          <div class="item">화요일</div>
          <div class="item">수요일</div>
          <div class="item">목요일</div>
          <div class="item">금요일</div>
          <div class="item">토요일</div>
          <div class="item">일요일</div>
    </div>
    <div class="footer">
      <img src="/assets/image/basic/basic_2.png" alt="">
      <img src="/assets/image/basic/basic_1.png" alt="">
      <img src="/assets/image/basic/basic_4.png" alt="">
    </div>
  </div>
</ion-content>