<ion-content>
  <div class="container" [style.height.px]="windowHeight">
    <div class="time-wrap">
      <div class="time" *ngFor="let time of timeList">{{ time }}</div> 
    </div>
    <div class="content-wrap">
      <div class="todo" [style.height.px]="duration * 40">아침 운동</div>
      <div class="todo" [style.height.px]="duration * 40">점심 운동</div>
    </div>
  </div>
  <!-- <ion-icon class="add-icon" name="add" (click)="createTodo()"></ion-icon> -->
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>