
<ion-content [style.height.px]="windowHeight">
  <div class="container">
    <div class="time-wrap">
      <div class="time-background-wrap" *ngFor="let todo of timelineList">
        <div class="time-background" style="position: relative;">
          <!-- <div class="space" *ngIf="timelineList.indexOf(todo) === 0" [style.height.px]="calculateSpaceHeight(todo.start_time, initialToday)"></div> -->
          <div class="space" *ngIf="timelineList.indexOf(todo) === 0" [style.height.px]="spaceHeight[timelineList.indexOf(todo)]"></div> 
          <div class="space" *ngIf="timelineList.indexOf(todo) !== 0" [style.height.px]="spaceHeight[timelineList.indexOf(todo)]"></div>
          <div class="check" [style.height.px]="height[timelineList.indexOf(todo)]"></div>
        </div>
      </div>
      <div class="space" [style.height.px]="spaceHeight[timelineList.indexOf(timelineList.length-1)]"></div>
      <div class="time" *ngFor="let time of timeList" style="position: relative; left: 0px;  bottom: 1410px; background: none;">{{ time }}</div> 
    </div>
    <div class="content-wrap">
      <div class="timeline-wrap" *ngFor="let todo of timelineList" >
        <div class="space" *ngIf="timelineList.indexOf(todo) === 0" [style.height.px]="spaceHeight[timelineList.indexOf(todo)]"></div>
        <div class="space" *ngIf="timelineList.indexOf(todo) !== 0" [style.height.px]="spaceHeight[timelineList.indexOf(todo)]"></div>
        <div class="todo" [style.height.px]="height[timelineList.indexOf(todo)]">{{todo.title}}</div>
      </div>
      <div class="space" [style.height.px]="spaceHeight[timelineList.indexOf(timelineList.length-1)]"></div>
    </div>
  </div>
  <ion-icon class="add-icon" name="add" (click)="createTodo()"></ion-icon>
  <!-- <ion-icon class="add-icon" name="add" (click)="createTodo()"></ion-icon> -->
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>