<ion-content>
  <div class="container">
      <!-- <button (click)="getTodoList()"> 누르면 투두가 쫘라라라라락 나와야 해 </button> -->
      <div class="todo-wrap" *ngFor="let todo of selectDayTodoList">
        <div class="todo-icon">
          <img src="../../assets/image/basic/basic_1.png" *ngIf="progress == 0">
          <img src="../../assets/image/basic/basic_2.png" *ngIf="progress !== 100 && todo.is_done == 1">
          <img src="../../assets/image/basic/basic_4.png" *ngIf="progress !== 100 && todo.is_done == 0">
        </div>
        <div class="todo-content" *ngIf="todo.is_done == 0">{{ todo.title }}</div>
        <div class="todo-content-done" *ngIf="todo.is_done == 1">{{ todo.title }}</div>
      </div>
  </div>
  <ion-icon class="add-icon" name="add" (click)="presentModal()"></ion-icon>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
