
.container {
    padding: 0;
    overflow-y: scroll;
.todo-wrap {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 15px auto;
    .todo-icon {
        img {
            width: auto;
            height: 45px;
        }
    }
    .todo-content {
        margin-left: 20px;
        font-size: 24px;
        font-family: var(--ion-font-family);
    }
    .todo-content-done {
        margin-left: 20px;
        text-decoration: line-through;
        font-size: 24px;
        font-family: var(--ion-font-family);
        color: var(--ion-color-light-gray);
    }
    .option {
        border: none !important;
        .btn-edit {
            --background: var(--ion-color-dark-yellow);
        }
        .btn-delete {
            --background: var(--ion-color-very-light-gray);
        }
        .icon {
            font-size: 24px;
        }
    }
}
}
.add-icon {
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: var(--ion-color-primary);
    color: var(--ion-color-white);
    z-index: 2;
}
